@use 'variables' as *;

//About section 

.about{
  margin: 3.125em 0;
  .about-content{
    h2{
      margin-bottom: 1.25em;
      text-align: center;
    }
  }
}

//Skills section 

.skills-section {
  background-color:#282415;  
  color:#F1EEE4;
  margin: 0;
  padding: 3.125em 0;
  .skills-content{ 
    h2{
      text-align: center;
      margin-bottom: 2em;
    }
    ul{
      display: grid;
      grid-template-columns:repeat(auto-fit, minmax(95px, auto));
      grid-gap:1.5em;
      li{
        width:75%;
        justify-self:center;
        align-self:center;
        i{
          font-size:1.5rem;
          margin-bottom: 0.25em;
        }
      }
    }
  }
}

// Project section

.projects{
  padding-top: 3.125em;
  padding-bottom: 1.125em;
  a{
    color: black;
  }
  h2{
    margin-bottom: 1.25em;
    text-align: center;
  }
  .project-list{
    h3{
      text-align: center;
      margin:1.25em;
    }
    p {
      margin-bottom: 1.25em;
    }
  }
  .project-info{
    margin: 0 1.25em;
    .technical-skills{
      text-align: center;
      margin-bottom: 1.25em;
      ul{
        display: flex;
        justify-content: center;
        gap:1.5em;
      }

    }
    .project-links{
      display: flex;
      justify-content: center;
      gap:1.25em;
      margin-bottom:2em;
    }
  }

}

//Contact section

.contact{
  border-top: 2px solid #282415;
  padding: 3.125em 0;
  h2{
    text-align: center;
    margin-bottom: 1.125em;
  }

  .contact-info{
    margin-bottom: 1.125em;
    text-align: center;
  }

  .contact-links{
    margin: 1.25em 0;
    display: flex;
    justify-content: center;
    a {
      color:#877745;
      margin-right: 10px;
      margin-left:0.9375em;
      display: block;
    }
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    #site-form{
      display: flex;
      flex-direction: column;
    }
  }
  input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:1.25em;
    font-size: 1rem;
  }
  textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:1.25em;
    font-size:1rem;
    resize: none;
  }
  input:focus-within{
    border-color:#AB9A5F;
    border-width: 3px;
    outline: none;
  }
  textarea:focus-within{
    border-color:#AB9A5F;
    border-width: 3px;
    outline: none;
  }
  .form-btn{
    background-color:#877745;
    color: #282415;
    border-radius:5px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 0.625em 1.25em;
    margin-top: 0.5em;
  }
  .form-btn:hover{
    cursor: pointer;
    opacity: 60%;
  }
}