@use 'variables' as *;

// *{
//   border: 2px red solid;
// }

//ABOUT SECTION 

.about{
  margin: 3.125em 0;
  .about-content{
    h2{
      margin-bottom: 1.25em;
      text-align: center;
    }
  }
}

//SKILLS SECTION

.skills-section {
  background-color:#282415;  
  color:#F1EEE4;
  padding: 3.125em 0;
  .skills-content{ 
    h2{
      text-align: center;
      padding-bottom: 1.25em;
    }
    ul {
      display:flex;
      flex-wrap:wrap;
      text-align: center;
      li {
        width: 50%;
        margin: 1.25em 0;
        i {
          font-size: 1.5rem;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

// PROJECT SECTION 

.projects{
  padding-top: 3.125em;
  padding-bottom: 1.125em;
  a{
    color: black;
  }
  h2{
    margin-bottom: 1.25em;
    text-align: center;
  }
  .project-list{
    h3, p{
      text-align: center;
      margin:1.25em;
    }
  }

  .project-info{
    margin: 1.25em;
    .technical-skills{
      text-align: center;
      margin-bottom: 1.25em;
      ul{
        display: flex;
        justify-content: center;
        gap:1.875em;
      }
    }
    .project-links{
      display: flex;
      justify-content: center;
      gap:1.25em;
      margin-bottom:2em;
    }
  }

}

// FORM SECTION 

.contact{
  border-top: 2px solid #282415;
  padding: 3.125em 0;
  h2{
    text-align: center;
  }
  .contact-links{
    margin: 1.25em 0;
    display: flex;
    justify-content: center;
    a {
      color:#877745;
      margin-right: 10px;
      margin-left:0.9375em;
      display: block;
    }
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    #site-form{
      display: flex;
      flex-direction: column;
    }
  }
  input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:1.25em;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
  textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:1.25em;
    text-transform: uppercase;
    font-size: 0.7rem;
    resize: none;
  }
  input:focus-within{
    border-color:#AB9A5F;
    border-width: 3px;
    outline: none;
  }
  textarea:focus-within{
    border-color:#AB9A5F;
    border-width: 3px;
    outline: none;
  }
  .form-btn{
    background-color:#877745;
    color: #282415;
    border-radius:5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0.625em 1.25em;
    margin-top: 0.5em;
  }
  .form-btn:hover{
    cursor: pointer;
    opacity: 60%;
  }
}