@use 'variables' as *;

.about-me{
  background-color:#dfceda;  
  padding: 10px 0;
}

.about-content{
  text-align: center;
}

.skills-section{
  background-color: #241921;  
  color: white;
  padding: 20px 0;
  h2{
    margin: 0;
    text-align: center;
  }
}

.contact-me{
  background-color: #fceef7;
  padding: 1em 0 2em;
}