@use "variables" as *;

@media (min-width: 640px) {
  //Header section

  .nav-header {
    margin-top: 1em;
  }

  // About section

  .about-content {
    width: 70%;
  }

  // Project section

  .project2,
  .project3,
  .project4 {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    justify-content: space-between;
  }

  .project4 {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
  }

  .project-img {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .project-info {
    margin: 0;
    width: 50%;
    margin-left: 7em;
  }

  //Contact section

  .contact-info {
    width: 70%;
    h2 {
      margin-bottom: 1.125em;
    }
  }
}

@media (min-width: 1024px) {
  //nav section

  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .logo {
    font-size: clamp(1.25rem, 0.6543rem + 2.9787vw, 2rem);
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
  }

  .nav-links {
    height: auto;
    background-color: transparent;
    li {
      margin-right: 1.5em;
      margin-left: 1.5em;
    }
  }

  ul {
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
  }

  .nav-link span {
    background-color: $sage-clr;
    padding: 0.5em 0.9375em;
    border-radius: 4px;
  }

  // About section

  .about-content {
    width: 70%;
  }

  // Project section

  .project2,
  .project3 {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    justify-content: space-between;
  }

  .project4 {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
  }

  .project-img {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .project-info {
    margin: 0;
    width: 80%;
    margin-left: 7em;
  }

  //Contact section

  .contact-info {
    width: 70%;
    h2 {
      margin-bottom: 1.125em;
    }
  }
}
