@use 'variables' as *;

body{
  background-color: #F1EEE4;
  font-family:$primary-font ;
  font-weight:400;
  height: 100vh;
  font-size: clamp(0.9rem, 0.83rem + 0.27vw, 1rem);
}

h1{
  font-family: $secondary-font;
  font-weight: 600;
  font-size: clamp(1.5rem, 0.83rem + 2.67vw, 2.5rem);
}

h2{
  font-family: $primary-font;
  font-weight: 600;
  font-size: clamp(1.25rem, 0.83rem + 1.47vw, 1.8rem);
}

h3{
  font-family: $primary-font;
  font-weight: 600;
  font-size: 1.25rem;
  font-size: clamp(0.9rem, 0.76rem + 0.53vw, 1.1rem);
}
