@use 'variables' as *;

body{
  font-family:$primary-font ;
  font-weight:400;
  background-color:#FFFFFF;
  height: 100vh;
}

h1{
  font-family: $secondary-font;
  font-weight: 500;
  font-size: clamp(1.2rem, -0.7143rem + 8.5714vw, 2.5rem);
}
h2{
  font-family: $primary-font;
  font-weight: 600;
  font-size: 2rem;
}
h3{
  font-family: $primary-font;
  font-weight: 600;
  font-size: 1.25rem;
}