// site fonts
$primary-font:'Source Sans Pro',sans-serif;
$secondary-font:'Playfair Display',serif;


// site colours
$nudeclr:#CFBDA9;
$pinkclr:#F5E3D4;
$brownclr:#99614D;
$greenclr:#778A67;
$darkgreen:#1b312f;

$beigeclr:#F3ECE6;

