html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  height: 100vh;
  font-size: clamp(0.9rem, 0.83rem + 0.27vw, 1rem);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: clamp(1.5rem, -0.7143rem + 8.5714vw, 2.5rem);
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.nav-div {
  width: 90%;
}
.nav-div a {
  text-decoration: none;
  color: black;
}
.nav-div li {
  list-style: none;
  margin: 7px 0;
}

.nav-bar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.5rem;
}

.nav-list {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  left: -100%;
  background-color: white;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.nav-link:hover {
  transition: 0.3s ease-in-out;
  color: #eb99eb;
}

.bar {
  background-color: black;
  display: block;
  width: 1em;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
}

.hamburger.active {
  display: block;
}
.hamburger.active .bar:nth-child(2) {
  transform: translateX(4px) rotate(180deg);
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(-1px) rotate(-35deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(1px) rotate(35deg);
}

.nav-list.active {
  left: 0;
}

.header-content {
  margin-bottom: 50px;
}
.header-content h1 {
  text-align: center;
}
.header-content p {
  font-size: 0.8rem;
}

footer {
  background-color: #C8BB93;
  color: white;
}
footer p {
  margin: 0;
  padding: 5px 0;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

body {
  background-color: #F1EEE4;
}

.about-me {
  padding: 10px 0;
}
.about-me .about-content h2 {
  text-align: center;
}

.skills-section {
  background-color: #C8BB93;
  color: white;
}
.skills-section form {
  align-content: center;
}
.skills-section h2 {
  margin: 0;
  text-align: center;
  padding-top: 30px;
}
.skills-section ul {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}
.skills-section ul li {
  list-style: none;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
}
.skills-section ul li .skills-icons {
  font-size: 2.5rem;
  text-align: center;
}

.projects {
  padding: 30px 0;
}
.projects h2 {
  margin: 0px;
  text-align: center;
}

.contact {
  border-top: 2px solid #282415;
}
.contact h2 {
  margin: 0;
  text-align: center;
  padding: 20px;
}
.contact .contact-links {
  margin: 20px 0;
}
.contact .contact-links a {
  margin-right: 10px;
}
.contact .contact-form {
  display: flex;
}
.contact .contact-form .site-form {
  display: flex;
  flex-direction: column;
}
.contact input {
  width: 80%;
  padding: 10px 10px;
  border-radius: 5px;
  border-color: black;
  margin-bottom: 20px;
}
.contact textarea {
  width: 80%;
  padding: 10px 10px;
  border-radius: 5px;
  border-color: black;
  margin-bottom: 20px;
  resize: none;
}
.contact input:focus-within {
  border-color: #f3ee53;
  border-width: 3px;
  outline: none;
}
.contact textarea:focus-within {
  border-color: #f3ee53;
  border-width: 3px;
  outline: none;
}
.contact .form-btn {
  background-color: #877745;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px 10px;
  margin-bottom: 20px;
  align-self: center;
}
.contact .form-btn:hover {
  cursor: pointer;
  opacity: 60%;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .nav-bar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}